/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&sk {
    quick-release;
    release-after-ms = <300>;
};

/ {
    behaviors {
        LCTRL_LSHFT_LALT_TD: LCTRL_LSHFT_LALT_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "LCTRL_LSHFT_LALT_TD";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&sk LSHFT>, <&sk LEFT_ALT>;

            tapping-term-ms = <250>;
        };

        NO4_FPS_TD: NO4_FPS_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "NO4_FPS_TD";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp N4>;

            tapping-term-ms = <200>;
        };

        NO5_FPS_TD: NO5_FPS_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "NO5_FPS_TD";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp N5>;

            tapping-term-ms = <200>;
        };

        NO6_FPS_TD: NO6_FPS_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "NO6_FPS_TD";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp N6>;

            tapping-term-ms = <200>;
        };

        ACAD_DIM_TD: ACAD_DIM_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "ACAD_DIM_TD";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&ACAD_DIML>, <&ACAD_DIMNTCON>;
        };

        ACAD_E_REGEN_TD: ACAD_E_REGEN_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "ACAD_E_REGEN_TD";
            #binding-cells = <0>;
            bindings = <&ACAD_ERASE>, <&ACAD_REGEN>;

            tapping-term-ms = <300>;
        };

        ACAD_MTPROP_MLD_TD: ACAD_MTPROP_MLD_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "ACAD_MTPROP_MLD_TD";
            #binding-cells = <0>;
            bindings = <&ACAD_MATCHPROP>, <&ACAD_MLD>;

            tapping-term-ms = <300>;
        };

        ACAD_PLINE_PLEDIT_TD: ACAD_PLINE_PLEDIT_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "ACAD_PLINE_PLEDIT_TD";
            #binding-cells = <0>;
            bindings = <&ACAD_PLINE>, <&ACAD_PLINEDIT>;

            tapping-term-ms = <300>;
        };

        WIN_TSKMGR_WSPCSCHW_TD: WIN_TSKMGR_WSPCSCHW_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "WIN_TSKMGR_WSPCSCHW_TD";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT_GUI>, <&kp LC(LGUI)>, <&kp LC(LA(DELETE))>;
        };

        NUM_NUMTOG_CAPSL_TD: NUM_NUMTOG_CAPSL_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_NUMTOG_CAPSL_TD";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mo 3>, <&kp CAPS>, <&tog 3>;
        };

        BCKSPC_TD: BCKSPC_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "BCKSPC_TD";
            #binding-cells = <0>;
            tapping-term-ms = <170>;
            bindings = <&kp BACKSPACE>, <&kp LC(BACKSPACE)>;
        };

        TAB_WINTAB_TD: TAB_WINTAB_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_WINTAB_TD";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp TAB>, <&kp LA(TAB)>, <&kp LA(LC(TAB))>;
        };

        MAX_LALT_LCTRL_TD: MAX_LALT_LCTRL_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_LALT_LCTRL_TD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp LCTRL>;
        };

        LSHFT_FLEEXP_TD: LSHFT_FLEEXP_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "LSHFT_FLEEXP_TD";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&kp LG(E)>;

            tapping-term-ms = <200>;
        };

        ACAD_ESC_EXP_TD: ACAD_ESC_EXP_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "ACAD_ESC_EXP_TD";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&ACAD_EXPLODE>;
        };

        MAX_SHFT_RISELAY_TD: MAX_SHFT_RISELAY_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_SHFT_RISELAY_TD";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&mo 9>, <&sl 1>;
        };

        MAX_Q_1_F12_TD: MAX_Q_1_F12_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_Q_1_F12_TD";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp N1>, <&kp F12>;

            tapping-term-ms = <250>;
        };

        MAX_W_2_F13_TD: MAX_W_2_F13_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_W_2_F13_TD";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp N2>, <&kp F13>;
        };

        MAX_F_3_F14_TD: MAX_F_3_F14_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_F_3_F14_TD";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp N3>, <&kp F14>;
        };

        MAX_P_4_F15_TD: MAX_P_4_F15_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_P_4_F15_TD";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp N4>, <&kp F15>;
        };

        MAX_B_5_F16_TD: MAX_B_5_F16_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "MAX_B_5_F16_TD";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp N5>, <&kp F16>;
        };

        NUM_BCKSPC_DEL_TD: NUM_BCKSPC_DEL_TD {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_BCKSPC_DEL_TD";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ACAD_LAY {
            bindings = <&tog 6>;
            key-positions = <0 12>;
        };

        MAX3DS_LAY {
            bindings = <&tog 7>;
            key-positions = <12 24>;
        };

        FPS_G_LAY {
            bindings = <&tog 4>;
            key-positions = <41 40>;
        };

        RPG_G_LAY {
            bindings = <&tog 5>;
            key-positions = <42 41>;
        };
    };

    macros {
        ACAD_L: ACAD_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp I &kp N &kp E &kp ENTER>;
            label = "ACAD_L";
        };

        ACAD_LEXT: ACAD_LEXT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp T &kp E &kp N &kp D &kp RET>;
            label = "ACAD_LEXT";
        };

        ACAD_REGEN: ACAD_REGEN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp E &kp RET>;
            label = "ACAD_REGEN";
        };

        ACAD_RECT: ACAD_RECT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp E &kp C &kp T &kp RET>;
            label = "ACAD_RECT";
        };

        ACAD_DIML: ACAD_DIML {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp I &kp M &kp L &kp RET>;
            label = "ACAD_DIML";
        };

        ACAD_MR: ACAD_MR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp I &kp RET>;
            label = "ACAD_MR";
        };

        ACAD_BLKEDIT: ACAD_BLKEDIT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp E &kp D &kp I &kp T &kp RET>;
            label = "ACAD_BLKEDIT";
        };

        ACAD_ROT: ACAD_ROT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp O &kp T &kp RET>;
            label = "ACAD_ROT";
        };

        ACAD_DIMNTCON: ACAD_DIMNTCON {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp I &kp M &kp C &kp RET>;
            label = "ACAD_DIMNTCON";
        };

        ACAD_PLINE: ACAD_PLINE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp L &kp I &kp N &kp E &kp RET>;
            label = "ACAD_PLINE";
        };

        ACAD_MOVE: ACAD_MOVE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp O &kp V &kp E &kp RET>;
            label = "ACAD_MOVE";
        };

        ACAD_XLINE: ACAD_XLINE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp L &kp I &kp N &kp E &kp RET>;
            label = "ACAD_XLINE";
        };

        ACAD_ML: ACAD_ML {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp L &kp I &kp N &kp E &kp RET>;
            label = "ACAD_ML";
        };

        ACAD_FILTR: ACAD_FILTR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp RET &kp R &kp RET>;
            label = "ACAD_FILTR";
        };

        ACAD_SNAPANG: ACAD_SNAPANG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp N &kp A &kp P &kp A &kp N &kp G &kp RET>;
            label = "ACAD_SNAPANG";
        };

        ACAD_MLD: ACAD_MLD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp L &kp D &kp RET>;
            label = "ACAD_MLD";
        };

        ACAD_MATCHPROP: ACAD_MATCHPROP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp RET>;
            label = "ACAD_MATCHPROP";
        };

        ACAD_ERASE: ACAD_ERASE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp RET>;
            label = "ACAD_ERASE";
        };

        ACAD_COPY: ACAD_COPY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp RET>;
            label = "ACAD_COPY";
        };

        ACAD_PLINEDIT: ACAD_PLINEDIT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp E &kp RET>;
            label = "ACAD_PLINEDIT";
        };

        ACAD_OFSET: ACAD_OFSET {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp F &kp RET>;
            label = "ACAD_OFSET";
        };

        ACAD_EXPLODE: ACAD_EXPLODE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp P &kp L &kp O &kp D &kp E &kp RET>;
            label = "ACAD_EXPLODE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE            &kp Q  &kp W              &kp F  &kp P                 &kp B      &kp J    &kp L             &kp U      &kp Y         &kp SEMICOLON  &BCKSPC_TD
&TAB_WINTAB_TD        &kp A  &kp R              &kp S  &kp T                 &kp G      &kp M    &kp N             &kp E      &kp I         &kp O          &kp SQT
&NUM_NUMTOG_CAPSL_TD  &kp Z  &kp X              &kp C  &kp D                 &kp V      &kp K    &kp H             &kp COMMA  &kp DOT       &kp FSLH       &WIN_TSKMGR_WSPCSCHW_TD
                             &ext_power EP_TOG  &mo 1  &LCTRL_LSHFT_LALT_TD  &kp SPACE  &kp RET  &LSHFT_FLEEXP_TD  &mo 2      &out OUT_TOG
            >;

            sensor-bindings =
                <&inc_dec_kp UP_ARROW DOWN_ARROW>,
                <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;

            label = "DEFAULT";
        };

        raise_layer {
            bindings = <
&kp GRAVE       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6  &kp N7  &kp N8    &kp N9  &kp N0   &kp MINUS
&kp LEFT_SHIFT  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6  &kp F7  &kp F8    &kp F9  &kp F10  &kp F11
&kp LCTRL       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none   &none   &none     &none   &none    &bt BT_CLR
                              &none         &sk LEFT_ALT  &none         &trans        &trans  &none   &kp RALT  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>,
                <&inc_dec_kp PG_UP PG_DN>;

            label = "RAISE BT";
        };

        lower_layer {
            bindings = <
&kp TILDE   &kp EXCL  &kp AT      &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET        &kp AMPS         &kp ASTERISK     &kp LPAR          &kp RPAR         &kp UNDERSCORE
&sk LSHIFT  &none     &none       &none     &none     &none      &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD   &none            &none
&kp LCTRL   &none     &none       &none     &none     &none      &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD   &rgb_ug RGB_SPI  &rgb_ug RGB_SPD
                      &kp K_CALC  &none     &none     &trans     &trans           &none            &kp RALT         &kp C_PLAY_PAUSE
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;

            label = "LOWER";
        };

        NUM_LAYER {
            bindings = <
&kp KP_PLUS   &kp KP_NUMBER_7  &kp KP_NUMBER_8         &kp KP_NUMBER_9  &kp KP_MULTIPLY  &kp ESCAPE          &kp K_SCREENSAVER  &kp PRINTSCREEN  &kp UP         &trans     &trans  &kp DEL
&kp KP_MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5         &kp KP_NUMBER_6  &kp KP_DIVIDE    &NUM_BCKSPC_DEL_TD  &kp K_SLEEP        &kp LEFT         &kp DOWN       &kp RIGHT  &trans  &trans
&trans        &kp KP_NUMBER_1  &kp KP_NUMBER_2         &kp KP_NUMBER_3  &kp EQUAL        &kp KP_NUMLOCK      &trans             &trans           &trans         &trans     &trans  &trans
                               &kp C_BACKLIGHT_TOGGLE  &kp KP_DOT       &kp KP_NUMBER_0  &trans              &trans             &trans           &kp RIGHT_ALT  &trans
            >;

            label = "NUM MISC";
            sensor-bindings =
                <&inc_dec_kp C_BRI_INC C_BRI_DEC>,
                <&inc_dec_kp C_AC_SCROLL_DOWN C_AC_SCROLL_UP>;
        };

        FPS_LAYER {
            bindings = <
&kp TAB    &kp F  &kp Q  &kp W  &kp E       &NO4_FPS_TD  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp ESCAPE
&kp B      &kp V  &kp A  &kp S  &kp D       &NO5_FPS_TD  &kp M   &kp N   &none   &kp I   &kp O   &kp J
&kp LCTRL  &kp Z  &kp X  &kp C  &kp R       &NO6_FPS_TD  &kp K   &kp H   &none   &none   &none   &to 0
                  &none  &kp G  &kp LSHIFT  &trans       &trans  &mo 0   &mo 1   &none
            >;

            label = "FPS GAME";
        };

        RPG_LAYER {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4     &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0    &kp F1
&kp TAB    &kp Q   &kp W   &kp E   &kp R      &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P     &none
&kp LCTRL  &kp A   &kp S   &kp D   &kp F      &kp G   &kp H   &kp J   &kp K   &kp L   &kp SEMI  &to 0
                   &none   &none   &kp LSHFT  &trans  &trans  &mo 3   &mo 0   &none
            >;

            label = "RPG GAME";
        };

        ACAD_LAY {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&mo 3   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &mo 8   &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "ACAD";
        };

        MAX3D_LAY {
            bindings = <
&trans  &MAX_Q_1_F12_TD  &MAX_W_2_F13_TD  &MAX_F_3_F14_TD       &MAX_P_4_F15_TD     &MAX_B_5_F16_TD  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans           &trans           &trans                &trans              &trans           &trans  &trans  &trans  &trans  &trans  &trans
&mo 10  &trans           &trans           &trans                &trans              &trans           &trans  &trans  &trans  &trans  &trans  &to 0
                         &kp LA(LC(X))    &MAX_SHFT_RISELAY_TD  &MAX_LALT_LCTRL_TD  &trans           &trans  &trans  &trans  &trans
            >;

            label = "3DSMAX";
            sensor-bindings = <&inc_dec_kp LBKT RBKT>;
        };

        ACAD_MCRO {
            bindings = <
&ACAD_ESC_EXP_TD  &ACAD_XLINE  &ACAD_PLINE_PLEDIT_TD  &ACAD_ML    &ACAD_L              &ACAD_E_REGEN_TD  &kp F3  &kp F8  &kp F9  &kp F10  &trans  &trans
&ACAD_OFSET       &ACAD_MR     &ACAD_RECT             &ACAD_ROT   &ACAD_MOVE           &ACAD_DIM_TD      &trans  &trans  &trans  &trans   &trans  &trans
&ACAD_BLKEDIT     &ACAD_LEXT   &ACAD_SNAPANG          &ACAD_COPY  &ACAD_MTPROP_MLD_TD  &ACAD_FILTR       &trans  &trans  &trans  &trans   &trans  &trans
                               &trans                 &none       &trans               &trans            &trans  &trans  &trans  &trans
            >;

            label = "A.MCRO";
        };

        MAX_MACRO {
            bindings = <
&trans  &MAX_Q_1_F12_TD  &MAX_W_2_F13_TD  &MAX_F_3_F14_TD  &MAX_P_4_F15_TD  &MAX_B_5_F16_TD  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans           &trans           &trans           &trans           &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans           &trans           &trans           &trans           &trans           &trans  &trans  &trans  &trans  &trans  &trans
                         &trans           &trans           &trans           &trans           &trans  &trans  &trans  &trans
            >;

            label = "3DS MACRO";
        };

        MAX_NUMLAY {
            bindings = <
&kp KP_PLUS   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY  &kp KP_DIVIDE       &kp K_SCREENSAVER  &kp PRINTSCREEN  &kp UP         &trans     &trans  &kp DEL
&kp KP_MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT       &NUM_BCKSPC_DEL_TD  &kp K_SLEEP        &kp LEFT         &kp DOWN       &kp RIGHT  &trans  &trans
&trans        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_0  &kp KP_NUMLOCK      &trans             &trans           &trans         &trans     &trans  &trans
                               &trans           &trans           &trans           &trans              &trans             &trans           &kp RIGHT_ALT  &trans
            >;

            label = "MAX NUM";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
