if SHIELD_ed48fcorne_left

config ZMK_KEYBOARD_NAME
    default "ED48F CORNE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ed48fcorne_left || SHIELD_ed48fcorne_right

config ZMK_SPLIT
    default y
